body {
  margin: 2em;
  padding: 1em;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-image: url(https://i.pinimg.com/736x/f0/fc/37/f0fc377c95c00522439fffcfa2dac17b--kawaii-background-kawaii-wallpaper.jpg);
}

.container-fluid {
  border: solid;
  padding: 1em 2em;
  margin: 1em;
  background-color: #df76f2;
}

.words {
  border: solid;
}

.aside {
  text-align: center;
  border: solid;
}

.header {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border: solid;
}

.footer {
  text-align: center;
  font-size: 3em;
}
